<div class="border-content">
    <h5 class="text-center">Contact Management</h5>
    <span class="span-content" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus-circle color"></i> &nbsp;<span class="text-content">New Contact</span> </span>
    <div class="row">
        <div class="col-md-5 div-container"></div>
        <div class="col-md-1 vertical-line"></div>
        <div class="col-md-5 div-container"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Contact</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form onsubmit="return SaveData()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>First Name</label><span class="text-danger">*</span>
                            <input type="text" name="FirstName" class="form-control" required/>
                        </div>
                        <div class="col-md-6">
                            <label>Last Name</label><span class="text-danger">*</span>
                            <input type="text" name="LastName" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email Address</label><span class="text-danger">*</span>
                            <input type="text"   name="Email" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label>UserName</label><span class="text-danger">*</span>
                            <input type="text"  name="UserName" class="form-control" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Password</label><span class="text-danger">*</span>
                            <input type="text"  name="Password" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label>Confirm Password</label><span class="text-danger">*</span>
                            <input type="text"  name="ConfirmPassword" class="form-control" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone No</label><span class="text-danger">*</span>
                            <input type="text"  name="Phone" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label>Address</label><span class="text-danger">*</span>
                            <input type="text"  name="Address" class="form-control" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="ID" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>